<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yangliwei.test1.mapper.UserMapper">
    <select id="selectUserById" resultType="com.yangliwei.test1.entity.User">
        SELECT * FROM user WHERE id = #{id}
    </select>
    <select id="selectUsersByAge" resultType="com.yangliwei.test1.entity.User">
        SELECT * FROM user WHERE age = #{age}
    </select>
    <select id="selectPhonesByUserId" resultType="com.yangliwei.test1.entity.Phone">
        SELECT * FROM phone WHERE user_id = #{userId}
    </select>
    <select id="findByUsername" resultType="com.yangliwei.test1.entity.User">
        SELECT * FROM user WHERE name = #{username}
    </select>
    <select id="findPermissionByUserId" resultType="java.lang.String">
        select
            DISTINCT m.perms
        from
            sys_user_role sr
                LEFT JOIN `sys_role` r on sr.role_id = r.id
                LEFT JOIN `sys_role_menu` rm on sr.role_id = rm.role_id
                LEFT JOIN sys_menu m on m.id = rm.menu_id
        WHERE
            user_id = #{userId}
          and r.is_show = 0 and m.is_show = 0;
    </select>
</mapper>